@charset "UTF-8";

body {
    padding: 20px;
    margin: 20px;
}

#bg { fill: url(#grad1);}

.stop1_1 { stop-color: #022481; }
.stop1_2 { stop-color: #01195c; }
.stop1_3 { stop-color: #01103a; }

#circle3 { fill: url(#grad2);}

.stop2_1 { stop-color: #b8a603; }
.stop2_2 { stop-color: #807300; }
.stop2_3 { stop-color: #494202; }