<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gird layout</title>
    <link rel="stylesheet" href="css/sanitize.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <header>
        <h1>fr単位</h1>
    </header>
    <main>
        <article>
            <h2>fr単位の基本</h2>
            <section>
                <h3>例1. 1frの場合</h3>
                <div class="box0">
                    <div class="box0_1">1</div>
                    <div class="box0_2">2</div>
                    <div class="box0_3">3</div>
                    <div class="box0_4">4</div>
                </div>
            </section>
            <section>
                <h3>例2. 1fr 1frの場合</h3>
                <p>まずはじめに<strong>grid-template-columnsのみに適用</strong>
                </p>
                <div class="box1c">
                    <div class="box1_1">1</div>
                    <div class="box1_2">2</div>
                    <div class="box1_3">3</div>
                    <div class="box1_4">4</div>
                </div>
                <p>次に<strong>grid-template-rowsのみに適用</strong></p>
                <div class="box1r">
                    <div class="box1_1">1</div>
                    <div class="box1_2">2</div>
                    <div class="box1_3">3</div>
                    <div class="box1_4">4</div>
                </div>
            </section>
            <section>
                <h3>例3. 2fr 1frの場合と2fr 2frの場合</h3>
                <p>2fr 1frの場合にgrid-template-columnsのみに適用した場合は以下となる。</p>
                <div class="box2_1_c">
                    <div class="box2_1">1</div>
                    <div class="box2_2">2</div>
                    <div class="box2_3">3</div>
                    <div class="box2_4">4</div>
                </div>
                <p>2fr 2frの場合にgrid-template-columnsのみに適用した場合は以下となる。</p>
                <div class="box2_2_c">
                    <div class="box2_1">1</div>
                    <div class="box2_2">2</div>
                    <div class="box2_3">3</div>
                    <div class="box2_4">4</div>
                </div>
            </section>
        </article>
    </main>
</body>

</html>